* {
box-sizing: border-box;
}
.popup {
    position: relative;
    width: 360px;
    height: 650px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}
.background {
    background: #379EFE;
    position: relative;
}
.snowflake, .snowman, .fire {
    width: 50px;
    height: 50px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
    transition: all 1s;
}
.fire {
    background-image: url(../img/fire.png);
}
.snowman {
    background-image: url(../img/snowman.png);
    transition: all 0.3s;
}
.snowflake {
    background-image: url(../img/snowflake.png);
}
.counter, .lives, #timer {
    position: absolute;
    top: 593px;
    font-size: 30px;
}

.counter {
    left: 92px;
    transform: translateY(-30%);
}
.lives {
    left: 190px;
    transform: translateY(-30%);
}
#timer {
    left: 290px;
    opacity: 0.5;
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-shadow: 1px 2px 3px black;
    
}
#settings .name {
    right: 0;
    position: absolute;
}
/** FROM style.css */
.background-layer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(158, 193, 194, 0.5);
    display: none;
  
  }
  .windowEnd {
    height: 200px;
    width: 300px;
    border: 3px outset gray;
    background: rgba(214, 213, 211, 0.904);
    font-size: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* поверх всех */
    left: -100%;
    transition: 1s;
    position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
    padding: 10px;
    border: 0.5px solid #383838;
    text-align: center;
  }