body {
  background-image: url("../img/зима.jpg");
}
.helpName {
  height: 128px;
}
.helpName h4 {
  /* position: absolute; */
  font-size: 55px;
  text-align: center;
  padding: 25px;
  /* top: 5px;
	left: 500px; */
  font-family: "Monotype Corsiva";
  color: rgb(16, 51, 156);
  margin: 5px;
}
.stage-wrapper {
  display: flex;
}
#stage {
  position: relative;
  width: 960px;
  height: 600px;
  background-color: azure;
  background-image: url(../img/square.jpg);
  margin-left: 15px;
}
#square {
  position: absolute;
  transition: all 0.5s;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  background-color: red;
  border-radius: 50%;
}
.snowflake {
  position: absolute;
  transition: all 0.5s;
  transform: translate(-50%, -50%);
  background-image: url(../img/snejinka.png);
  width: 128px;
  height: 128px;
  background-size: cover;
}

.fire {
  position: absolute;
  transition: all 0.5s;
  transform: translate(-50%, -50%);
  background-image: url(../img/fire.png);
  width: 100px;
  height: 100px;
  background-size: cover;
}
#square img {
  width: 150%;
  position: absolute;
  top: -50%;
  left: -40%;
}

.button-up {
  width: 100px;
  height: 100px;
  margin-left: 250px;
}
.button-down {
  width: 100px;
  height: 100px;
  margin-left: 250px;
}
.button-left {
  width: 100px;
  height: 100px;
  margin-left: 200px;
}
.button-right {
  width: 100px;
  height: 100px;
}

.counter,
.lives {
  font-size: 55px;
  margin-left: 368px;
  margin-top: 49px;
}
.heart {
  width: 97px;
  position: absolute;
  left: 1257px;
  top: 600px;
}
.windowEnd {
  height: 220px;
  width: 400px;
  border: 3px outset gray;
  background: rgba(214, 213, 211, 0.904);
  top: 20%; /* отступ сверху */
  right: 0;
  left: 0;
  font-size: 30px;
  margin: 0 auto;
  z-index: 2; /* поверх всех */
  display: none; /* сначала невидим */
  position: fixed; /* фиксированное позиционирование, окно стабильно при прокрутке */
  padding: 30px;
  border: 0.5px solid #383838;
}
#shadow {
  /*затемнение экрана*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1; /* поверх всех кроме окна*/
  background: #000;
  opacity: 0.5; /*прозрачность*/
}
.button-end {
  background-color: lightgray;
  height: 50px;
  width: 150px;
  font-size: 15px;
}

.index-end {
  position: relative;
  font-size: 80px;
  top: 290px;
  left: 400px;
}
.statName {
  display: inline;
  font-size: 80px;
  top: 30px;
  left: 100px;
  margin: 10px;
}
.statGame1 {
  display: inline;
  font-size: 50px;
  top: 100px;
  left: 100px;
  margin: 10px;
}
.statBtn {
  display: inline;
  font-size: 40px;
  top: 300px;
  left: 40px;
  margin: 10px;
}
.btnWrapper {
  display: flex;
  justify-content: center;
}

.btnWrapper a {
  display: block;
  margin: 5px;
}
.btnWrapper button {
  height: 60px;
}
#timer {
  position: absolute;
  font-size: 40px;
  top: 35px;
  left: 35px;
}
#settings {
  position: absolute;
  font-size: 40px;
  top: 35px;
  right: 55px;
}
.item td,
.item th {
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}
tr.active {
  background-color: white;
}
